# Python cache files
__pycache__/
*.pyc

# Virtual environment
venv/
.env/
.env

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints (if used)
.ipynb_checkpoints/

# Large data files (optional - if you don’t want to upload full datasets)
*.csv
*.xlsx

# Power BI temp files (optional)
*.tmp
